.content {
  margin-inline: auto;
  text-align: left;
  width: 1000px;
  margin-top: 1rem;
  font-size: 1.5rem;
}
@media screen and (max-width:1080px) {
  .content {
    width: 100%;
    padding-inline: 2rem;
    font-size: 1rem;
  }
}

.content-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  .language-button {
    cursor: pointer;
    background-color: transparent;
    color: var(--main-text-color);
    
    padding: .25rem;
    margin-inline: -.25rem;
    font-size: 1rem;
    font-weight: 500;
  
    border: none;
    outline: 1px solid var(--main-text-color);
    transition: all .4s ease;
    border-radius: .5rem;
    &:hover {
      background-color: var(--main-text-color);
      color: white;
      outline: none;
    }
  }
}
@media screen and (max-width:1080px) {
  .content-head .language-button {
    font-size: .75rem;
    padding: .15rem;
    border-radius: .25rem;
  }
}

