.content {
  margin-inline: auto;
  text-align: left;
  margin-top: 1rem;
  font-size: 1.5rem;
  transition: all 1s ease;
}

.content-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.language-button-group {
  display: flex;
  gap: .25rem;
  margin: 2rem 0 .5rem 0;
}
.language-button {
  cursor: pointer;
  background-color: transparent;
  color: var(--main-text-color);
  
  padding: .25rem .5rem;
  font-size: 1rem;
  font-weight: 100;

  border: none;
  outline: 1px solid var(--main-text-color);
  transition: all .4s ease;
  &:hover {
    background-color: var(--main-text-color);
    color: white;
    outline: none;
  }
}

@media screen and (max-width:1920px) {
  .language-button {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
  }
  .content {
    font-size: 1.25rem;
  }
}
@media screen and (max-width:1600px) {
  .language-button {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
  }
  .content {
    font-size: 1.25rem;
  }
}
@media screen and (max-width:1300px) {
  .language-button {
    font-family: 'Poppins';
    font-size: .8rem;
    font-weight: 400;
  }
  .content {
    font-size: 1.2rem;
  }
}
@media screen and (max-width:1000px) {
  .language-button {
    font-family: 'Poppins';
    font-size: .7rem;
    font-weight: 400;
  }
  .content {
    font-size: 1.15rem;
  }
}
@media screen and (max-width:850px) {
  .language-button {
    font-family: 'Poppins';
    font-size: .6rem;
    font-weight: 400;
  }
  .content {
    font-size: 1rem;
  }
}
@media screen and (max-width:550px) {
  .language-button {
    font-family: 'Poppins';
    font-size: .5rem;
    font-weight: 400;
  }
  .content {
    font-size: .8rem;
  }
}
@media screen and (max-width:450px) {
  .language-button {
    font-family: 'Poppins';
    font-size: .45rem;
    font-weight: 400;
  }
  .content-text {
    font-size: .65rem;
  }
}