<div class="header">
  <button class="back-button" onclick="history.back()"><img src="../../svg/buttonexamples/back.svg" alt="">BACK</button>
  
  <div class="header-title"><h1>BUTTON EXAMPLES</h1></div>
</div>

<div class="button-grid">
  <!-- buttons 1 - 5 -->
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>

  <!-- buttons 6 - 10 -->
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>

  <!-- buttons 11 - 15 -->
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>

  <!-- buttons 16 - 20 -->
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
</div>