<div class="header">
  <button class="back-button" onclick="history.back()" href="/"><img src="../../svg/buttonexamples/back.svg" alt="">BACK</button>
  
  <div class="header-title"><h1>BUTTON EXAMPLES</h1></div>
</div>

<div class="button-grid">
  <!-- buttons 1 - 5 -->
  <div class="button-display"><button class="button-1">button</button></div>
  <div class="button-display"><button class="button-2">button</button></div>
  <div class="button-display"><button class="button-3">button</button></div>
  <div class="button-display"><button class="button-4">button</button></div>
  <div class="button-display"><button class="button-5">button</button></div>

  <!-- buttons 6 - 10 -->
  <div class="button-display"><button class="button-6"><span class="button-6-text">button</span><span class="button-6-icon"><ion-icon name="cloud-download-outline"></ion-icon></span></button></div>
  <div class="button-display"><button class="button-7"><span class="button-7-text">button</span><span class="button-7-icon"><ion-icon name="refresh-outline"></ion-icon></span></button></div>
  <div class="button-display"><button class="button-8"><span class="button-8-text">button</span><span class="button-8-icon"><ion-icon name="add-sharp"></ion-icon></span></button></div>
  <div class="button-display"><button class="button-9">button</button></div>
  <div class="button-display"><button class="button-10">button</button></div>


  <!-- buttons 11 - 15 -->
  <div class="button-display"><button class="button-11">button</button></div>
  <div class="button-display"><button class="button-12"> <ion-icon name="cloud-download-sharp"></ion-icon> button</button></div>
  <div class="button-display"><button class="button-13"><ion-icon name="heart-circle-outline"></ion-icon></button></div>
  <div class="button-display"><button class="button-14">button</button></div>
  <div class="button-display"><button class="button-15"><span>button</span></button></div>

  <!-- buttons 16 - 20 -->
  <div class="button-display"><button class="button-16">button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
</div>