<button class="back-button" onclick="history.back()"><img src="../../svg/buttonexamples/back.svg" alt="">BACK</button>
<div class="button-grid">
  <!-- buttons 1 - 5 -->
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>
  <div class="button-display"><button>button</button></div>

    <!-- buttons 6 - 10 -->
    <div class="button-display"><button>button</button></div>
    <div class="button-display"><button>button</button></div>
    <div class="button-display"><button>button</button></div>
    <div class="button-display"><button>button</button></div>
    <div class="button-display"><button>button</button></div>
</div>