@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--lightmode-text-color);
  background-color: var(--lightmode-background-color);

  /* colors */
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: rgb(37, 40, 59);
  --main-background-grid-color: rgb(240, 240, 240);
}
body.darkmode{
  --main-background-color: rgb(40, 40, 40);
  --main-text-color: rgb(200, 220, 240);
  --main-background-grid-color: rgb(240, 240, 240);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--main-background-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: rgb(50, 50, 50);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(30, 30, 30);
}

.background-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50px 50px;
  background-image:
      linear-gradient(to right, var(--main-background-grid-color) 1px, transparent 1px),
      linear-gradient(to bottom, var(--main-background-grid-color) 1px, transparent 1px);
  z-index: -1; /* Ensure the grid is behind the content */
}

/* CODE FOR EXAMPLE PAGES */
.back-button {
  position: relative;
  background-color: white;
  color: black;

  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 300;
  padding: .75rem 3rem;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  text-shadow: 4px 4px rgb(0, 0, 0, .1) inset;

  transition: all .6s;
}
.back-button img {
  transform: translate(-5px, 5px);
}
.back-button:hover{
  box-shadow: 4px 4px 4px rgb(0, 0, 0, .125) inset, -3px -3px 3px rgb(245, 245, 245) inset;
  transition: all .2s;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.header-title h1 {
  font-family: 'Poppins';
  font-weight: 300;
}
#back-to-top {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 42px;
  height: 42px;

  background-color: white;
  background-image: url('../../svg/buttonexamples/back-to-top.svg');

  border-radius: 100%;
  border: 1px solid rgb(70, 70, 70);
  cursor: pointer;

  z-index: 99;
  transform: translateY(100px);
  opacity: 0;

  transition: all 300ms;
}
#back-to-top.show {
  opacity: 1;
  transform: translateY(0);
}
#back-to-top:hover{
  transform: scale(1.05);
}


/* || RESPOSIVENESS || */


@media screen  and (max-width:1000px){
  .background-grid {
    background-size: 30px 30px;
  }
}
@media screen and (max-width:550px) {
  .header .header-title h1 {
    font-size: 1.25rem;
  }
  .back-button {
    padding: .5rem 2rem;
  }
}