@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--lightmode-text-color);

  /* colors */
  --lightmode-background-color: rgb(235, 235, 235);
  --lightmode-text-color: rgb(37, 40, 59);
  --lightmode-background-grid-color: rgb(190, 190, 190);

  --darkmode-background-color: rgb(40, 40, 40);
  --darkmode-text-color: rgb(200, 220, 240);
  --darkmode-background-grid-color: rgb(240, 240, 240);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--lightmode-background-color);
}

.background-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50px 50px;
  background-image:
      linear-gradient(to right, var(--lightmode-background-grid-color) 1px, transparent 1px),
      linear-gradient(to bottom, var(--lightmode-background-grid-color) 1px, transparent 1px);
  z-index: -1; /* Ensure the grid is behind the content */
}



/* || RESPOSIVENESS || */


@media screen  and (max-width:1000px){
  .background-grid {
    background-size: 30px 30px;
  }
}