@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--lightmode-text-color);
  background-color: var(--lightmode-background-color);

  /* colors */
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: rgb(37, 40, 59);
  --main-background-grid-color: rgb(240, 240, 240);
}
body.darkmode{
  --main-background-color: rgb(40, 40, 40);
  --main-text-color: rgb(200, 220, 240);
  --main-background-grid-color: rgb(240, 240, 240);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--main-background-color);
}

.background-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50px 50px;
  background-image:
      linear-gradient(to right, var(--main-background-grid-color) 1px, transparent 1px),
      linear-gradient(to bottom, var(--main-background-grid-color) 1px, transparent 1px);
  z-index: -1; /* Ensure the grid is behind the content */
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.header-title h1 {
  font-family: 'Poppins';
  font-weight: 300;
}


/* || RESPOSIVENESS || */


@media screen  and (max-width:1000px){
  .background-grid {
    background-size: 30px 30px;
  }
}