@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-text-color);

  /* colors */
  --main-background-color: rgb(208,208,208);
  --main-text-color: rgb(37, 40, 59);

  --lightmode-background-grid-color: rgb;
  --darkmode-background-grid-color: rgb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--main-background-color);
}

.background-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50px 50px;
  background-image:
      linear-gradient(to right, rgb(190, 190, 190) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(189, 189, 189) 1px, transparent 1px);
  z-index: -1; /* Ensure the grid is behind the content */
}



/* || RESPOSIVENESS || */


@media screen  and (max-width:1000px){
  .background-grid {
    background-size: 30px 30px;
  }
}