.button-grid {
  border-top: 1px solid black;
  padding-top: 1.25rem;
  max-width: 940px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 60px;
  grid-auto-rows: 300px;
  gap: 1rem;
  margin: 3rem auto 0 auto;
}
.button-grid > *:first-child {
  grid-column: 1 / -1;
  font-size: 4rem;
  font-family: 'Poppins';
  font-weight: 100;
  display: flex;
  align-items: center;
  margin-left: .25rem;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  font-size: 1rem;
}

.test-gradient {
  background: linear-gradient(135deg, #cac3f6, #00bae2);
  position: relative;
  &::before {
    content: '';
    height: 100%;
    width: 100%;
    top: -.5rem;
    left: -.5rem;
    border-radius: 20px;
    position: absolute;
    background: url(https://github.com/SleepyTK/images/blob/main/light-noise.png?raw=true) center;
    background-position: center;
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: .3;
  }
}
/* 
 -- SIMPLE LIGHT BUTTONS --
*/

.simple-light-button-1 {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 0rem;
  
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: 400;

  transition: all 200ms ease;

  &:hover {
    padding: calc(1rem * 1.05) calc(3rem * 1.05);
    font-size: calc(1.25rem * 1.05);
  }

  &:active {
    padding: calc(1rem * .975) calc(3rem * .975);
    font-size: calc(1.25rem * .975);
  }
}

.simple-light-button-2 {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: .5rem;
  
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: 400;

  transition: all 200ms ease;

  &:hover {
    padding: calc(1rem * 1.05) calc(3rem * 1.05);
    font-size: calc(1.25rem * 1.05);
  }

  &:active {
    padding: calc(1rem * .975) calc(3rem * .975);
    font-size: calc(1.25rem * .975);
  }
}

.simple-light-button-3 {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 9999rem;
  
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: 400;

  transition: all 200ms ease;

  &:hover {
    padding: calc(1rem * 1.05) calc(3rem * 1.05);
    font-size: calc(1.25rem * 1.05);
  }

  &:active {
    padding: calc(1rem * .975) calc(3rem * .975);
    font-size: calc(1.25rem * .975);
  }
}

.simple-light-button-4 {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 0rem;
  
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: 400;

  top: -.65rem;
  left: -.65rem;

  transition: all 200ms ease;
  position: relative;

  &::after {
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;
    top: .65rem;
    left: .65rem;

    background-color: #c1ffc9;
    transition: all 200ms ease;
    z-index: -1;
  }

  &:active {
    top: 0;
    left: 0;

    &::after {
      top: 0;
      left: 0;
    }
  }
}

.simple-light-button-5 {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: .5rem;
  
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: 400;

  top: -.65rem;
  left: -.65rem;

  transition: all 200ms ease;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    border-radius: .5rem;

    width: 100%;
    height: 100%;
    top: .65rem;
    left: .65rem;

    background-color: #c1ffc9;
    transition: all 200ms ease;
    z-index: -1;
  }

  &:active {
    top: 0;
    left: 0;

    &::after {
      top: 0;
      left: 0;
    }
  }
}

.simple-light-button-6 {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 9999rem;
  
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: 400;

  top: -.65rem;
  left: -.65rem;

  transition: all 200ms ease;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    border-radius: 9999rem;

    width: 100%;
    height: 100%;
    top: .65rem;
    left: .65rem;

    background-color: #c1ffc9;
    transition: all 200ms ease;
    z-index: -1;
  }

  &:active {
    top: 0;
    left: 0;

    &::after {
      top: 0;
      left: 0;
    }
  }
}

.simple-light-button-7, .simple-light-button-8, .simple-light-button-9 {
  transition: all .2s ease-in-out;
  border: 2px solid black;
  padding: 1rem 3rem;
  font-size: 1.25rem;

  &:hover {
    background-color: black;
    color: white;
  }

  &:active {
    background-color: rgb(0, 0, 0, .8);
    border-color: rgba(0, 0, 0, .8);
  }
}
.simple-light-button-7 {
  border-radius: 0;
}

.simple-light-button-8 {
  border-radius: .5rem;
}

.simple-light-button-9 {
  border-radius: 9999rem;
}

.simple-light-button-10, .simple-light-button-11, .simple-light-button-12 {
  transition: all .2s ease-in-out;
  outline: 2px solid black;
  outline-offset: -2px;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    z-index: -1;

    background-color: black;
    transition: all .2s ease-in-out;
  }
}
.simple-light-button-10 {
  border-radius: 0;
  &::after {
    border-radius: 0;
    top: 50%;
    left: 50%;
  }
  &:hover {
    color: white;
    &::after{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.simple-light-button-11 {
  border-radius: .5rem;
  &::after {
    border-radius: .5rem;
    top: 0;
    left: 50%;
    height: 100%;
  }
  &:hover {
    color: white;
    &::after{
      width: 100%;
      left: 0;
    }
  }
}

.simple-light-button-12 {
  border-radius: 9999rem;
  &::after {
    border-radius: 9999rem;
    top: 50%;
    width: 100%;
  }
  &:hover {
    color: white;
    &::after{
      height: 100%;
      top: 0;
    }
  }
}

.simple-light-button-13, .simple-light-button-14, .simple-light-button-15 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: .5rem 4rem;
  position: relative;
  transition: 250ms all ease-in-out;
}
.simple-light-button-13 {
  letter-spacing: -1px;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 250ms all ease-in-out;
  }
  &::before {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    opacity: 0;
    transform: scale(.1, 1);
  }
  &::after {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &:hover {
    letter-spacing: 2px;
    &::before{
      opacity: 1;
      transform: scale(1, 1);
    } 
    &::after {
      opacity: 0;
      transform: scale(.1, 1);
    }
  }
}

.simple-light-button-14 {
  font-size: 1.25rem;
  padding: .6rem 6rem;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 250ms all ease-in-out;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, 0.025);
    transition: 350ms ease-in-out all;
  }
  &:hover {
    padding: 1rem 6rem;
    &::before, &::after { background-color: transparent;}
    &::before {
      rotate: 45deg;
    }
    &::after {
      rotate: -45deg;
    }
  }
}

.simple-light-button-15 {
  padding: .5rem 4rem;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 250ms ease-in-out all;
  }
  &::before {
    background-color: rgba(0, 0, 0, 0.025);
  }
  &::after {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    opacity: 0;
  }
  &:hover {
    &::before {
      scale: 0.1;
    }
    &::after {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 1;
    }
  }
}

.simple-light-button-16 {
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 1rem 4rem;
  font-weight: 300;
  font-size: 1.5rem;
}
.simple-light-button-16:hover {
  border-radius: 100rem;
  padding: 4rem 3rem;
}

@media  screen and (max-width:1000px) {
  .button-grid > *:first-child {
    font-size: 3rem;
  }
  .button-grid, .header {
    max-width: calc(100% - 4rem);
  }
}
@media  screen and (max-width:690px) {
  .button-grid > *:first-child {
    font-size: 2.5rem;
  }
}