<div class="banner">
  <div class="slider" style="--quantity: 10;">
    <!-- item 1-5 -->
    <div class="item" style="--position: 1;"><img src="images/navbar/navbar-1.png" alt=""></div>
    <div class="item" style="--position: 2;"><img src="images/navbar/navbar-1.png" alt=""></div>
    <div class="item" style="--position: 3;"><img src="images/navbar/navbar-1.png" alt=""></div>
    <div class="item" style="--position: 4;"><img src="images/navbar/navbar-1.png" alt=""></div>
    <div class="item" style="--position: 5;"><img src="images/navbar/navbar-1.png" alt=""></div>

    <!-- item 6-10 -->
    <div class="item" style="--position: 6;"><img src="images/navbar/navbar-1.png" alt=""></div>
    <div class="item" style="--position: 7;"><img src="images/navbar/navbar-1.png" alt=""></div>
    <div class="item" style="--position: 8;"><img src="images/navbar/navbar-1.png" alt=""></div>
    <div class="item" style="--position: 9;"><img src="images/navbar/navbar-1.png" alt=""></div>
    <div class="item" style="--position:10;"><img src="images/navbar/navbar-1.png" alt=""></div>
  </div>
</div>