:root {
  counter-reset: cards;
}

a {
  cursor: pointer;
}

.button-grid {
  border-top: 1px solid black;
  padding-top: 1.25rem;
  max-width: 940px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: 1rem;
  margin: 0 auto;
}

.button-display {
  counter-increment: cards;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(245, 245, 245);
  background-color: var(--button-display-color);
  border-radius: 20px;
  animation: fade-in 1.5s forwards;
  opacity: 0;
  transform: translateY(25px);
  animation-delay: 500ms;
}
.button-display::before {
  display: flex;
  content: counter(cards);
  top: 0;
  left: 0;
  position: absolute;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1.25rem;
  margin: .5rem .5rem;
  background-color: rgb(80, 80, 80);
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
}
.button-display button {
  font-family: "Poppins";
  cursor: pointer;
  user-select: none  !important;
}

@keyframes fade-in{
  0%{
    opacity: 0;
    transform: translateY(25px);
  } 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* || BUTTONS 1 - 5 || */
.popular-websites {
  filter: grayscale(1000);
  transition: all .4s ease;
}
.popular-websites:hover {
filter: grayscale(0);
scale: 1.025;
}
.popular-websites:active {
  scale: 1;
}


/* .button-2 {
  color: rgb(110, 7, 243);
  background-color: transparent;

  border: 3px solid rgb(110, 7, 243);
  border-radius: 100px;

  font-weight: 600;
  font-size: 1.5rem;
  padding: .5rem 4rem;
  transition: .3s;
}
.button-2:hover {
  background-color: rgb(110, 7, 243);
  color: white;
}
.button-2:active {
  transition: all 100ms;
  outline: 3px solid rgba(128, 128, 128, 0.15);
}


.button-3 {
  position: relative;

  padding: 1rem 4rem;
  font-size: 1.75rem;
  font-weight: 600;

  border: 3px solid rgb(142, 202, 230);
  background-color: transparent;
  color: rgb(142, 202, 230);
  overflow: hidden;
  transition: all .3s linear;
}
.button-3::before {
  position: absolute;
  
  content: '';
  background-color: rgb(142, 202, 230);
  left: 0;
  bottom: 0;

  width: 16rem;
  height: 6rem;
  z-index: -1;
  transform: translateX(-260px);
  transition: all .3s linear;
}
.button-3::after {
  position: absolute;
  
  content: '';
  background-color: rgb(33, 158, 188);
  left: 0;
  bottom: 0;

  width: 16rem;
  height: 6rem;
  z-index: -1;
  transform: translateX(-260px);
  transition: all .3s linear;
}
.button-3:hover {
  color: rgb(33, 158, 188);
  border: 3px solid rgb(33, 158, 188);
}
.button-3:hover::before{
  transform: translateX(0);
}
.button-3:active {
  border: 3px solid rgb(10, 100, 170);
  color: rgb(10, 100, 170);
}
.button-3:active::after{
  transform: translateX(0);
}
.button-3:active::before{
  transform: translateX(200px);
} */


/* .button-4 {
  position: relative;
  background-color: rgb(242,247,249);
  color: black;

  border: none;
  border-radius: 14px;

  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: 700;
  transition: all .2s;

  overflow: hidden;
}
.button-4::before {
  position: absolute;
  content: 'button';
  color: rgb(128, 47, 222);
  transform: translateY(60px);
  transition: all .4s;
}
.button-4:hover {
  background-color: rgb(233,228,247);
  color: transparent;
}
.button-4:hover::before {
  transform: translateY(0);
}


.button-5 {
  color: black;
  background-color: white;
  padding: .25rem 4rem;
  border: none;
  border-radius: 100px;
  font-size: 1.5rem;
  font-weight: 700;

  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
  transition: all .3s;
}
.button-5:hover {
  color: rgb(81, 194, 81);
  text-shadow: 0 0 2px rgb(42, 182, 42);
  box-shadow: 0 0 10px rgb(87, 224, 87);
  padding: .275rem 4.4rem;
  font-size: 1.7rem;
}
.button-5:active {
  scale: .95;
} */


/* .button-6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  display: inline-flex;
  height: 4rem;
  padding: 0;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #009543;
  overflow: hidden;
  font-size: 1.75rem;
  font-weight: 300;
}
.button-6:hover {
  background-color: #00813a;
}
.button-6:active {
  background-color: #006e25;
}
.button-6-text,
.button-6-icon {
  display: inline-flex;
  align-items: center;
  padding: 0 1.5rem;
  color: white;
  height: 100%;
}
.button-6-icon {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.button-7 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  display: inline-flex;
  height: 4rem;
  padding: 0;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #007295;
  overflow: hidden;
  font-size: 1.75rem;
  font-weight: 300;
}
.button-7:hover {
  background-color: #00607e;
}
.button-7:active {
  background-color: #005772;
}
.button-7-text,
.button-7-icon {
  display: inline-flex;
  align-items: center;
  padding: 0 1.5rem;
  color: white;
  height: 100%;
}
.button-7-icon {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}


.button-8 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  display: inline-flex;
  height: 4rem;
  padding: 0;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #840095;
  overflow: hidden;
  font-size: 1.75rem;
  font-weight: 300;
}
.button-8:hover {
  background-color: #740083;
}
.button-8:active {
  background-color: #650072;
}
.button-8-text,
.button-8-icon {
  display: inline-flex;
  align-items: center;
  padding: 0 1.5rem;
  color: white;
  height: 100%;
}
.button-8-icon {
  font-size: 1.75rem;
  background-color: rgba(0, 0, 0, 0.1);
}


.button-9 {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  font-weight: 900;
  font-size: 2rem;
  padding: 1rem 3rem;
  background-color: #ebebeb;
  color: #313131;
  border: none;
  transition: .3s all;
}
.button-9:hover {
  background-color: #232323;
  color: white;
}
.button-9:active {
  border-radius: 10px;
}

.button-10 {
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 10px;
  border: 1px solid rgb(50, 50, 50);
  color: rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 0 rgb(0, 0, 0);
  transform: translate(-5px, -5px);
  transition: .2s all;
}
.button-10:active {
  transform: translate(0, 0);
  box-shadow: 0 0 0 rgb(0, 0, 0);
}


.button-11 {
  position: relative;
  font-weight: 400;
  font-size: 1.5rem;
  padding: .75rem 2rem;
  border: none;
  background-color: rgb(40, 40, 40);
  color: white;
  overflow: hidden;
  transition: .3s all;
  z-index: 1;
}
.button-11::after {
  content: '';
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 150px;
  height: 60px;
  background-color: white;
  transition: .3s all;
  z-index: -1;
}
.button-11:hover {
  color: black;
}
.button-11:hover::after {
  bottom: 0;
}


.button-12 {
  background-color: rgb(123,39,213);
  color: white;
  font-weight: 300;

  border: none;
  border-radius: 100vw;
  height: 3.25rem;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  padding-inline: 2.75rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
}
.button-12 ion-icon {
  padding-inline: .5rem;
  height: 1.4rem;
} */



.button-13 {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: rgb(209, 17, 17);

  height: 5rem;
  width: 5rem;

  font-size: 3.5rem;

  border: none;
  border-radius: 100%;
  
  transform: translateY(-10px);
  box-shadow: 0 10px 0 rgb(100, 0, 0);
  transition: .1s all;
}
.button-13:active {
  transform: translateY(-5px);
  box-shadow: 0 5px 0 rgb(100, 0, 0);
}


.button-14 {
  background: rgb(131,58,180);
  background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  color: white;
  padding: .5rem 4rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  transition: all .25s ease;
}
.button-14:hover {
  background: linear-gradient(-45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.button-15 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: black;
  border: none;
  letter-spacing: 2px;
  display: inline-block;
  background-color: white;
  border: 2px black solid;

  position: relative;
}
.button-15 span {
  position: relative;
  z-index: 3;
}
.button-15::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}
.button-15::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% + 4px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}
.button-15:hover::before {
  transform: scaleY(0);
}
.button-15:hover::after {
  transform: scaleX(0);
}



.button-16 {
  filter: grayscale(100%);
  background: rgb(131,58,180);
  background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  font-weight: 100;
  transition: .6s all;
}
.button-16:hover {
  filter: grayscale(0%);
  transition: .3s all;
}
.button-16:active {
  letter-spacing: 4px;
}

.button-17 {
  font-family: 'Recoleta', sans-serif !important;
  font-size: 1.5rem;
  border: 1px solid #151515;
  padding: .5rem 3rem;
  margin-inline: .25rem;
  transition: .25s;
}
.button-17 {
  background-color: #151515;
  color: white;
}
.button-17:hover {
  color: #151515;
  background-color: white;
}
.button-17:active {
  background-color: rgba(255, 255, 255, 0.8);
}


.button-18 {
  background-color: rgb(240,0,60);
  box-shadow: 0 4px 0 rgb(163,0,55),
              0 6px 0 rgba(0, 0, 0, .15);
  border-radius: 10px;
  border: none;
  color: white;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  transition: .2s all;
}
.button-18:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 0 rgb(163,0,55),
              0 12px 0 rgba(0, 0, 0, .15);
}
.button-18:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 rgb(163,0,55),
              0 3px 0 rgba(0, 0, 0, .15);
}


.button-19 {
  background-color: #FFFFFF;
  border-radius: 100vw;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Recoleta',sans-serif !important;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  transition: all .15s;
}
.button-19:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}
.button-19:active {
  transform: scale(1.025);
}

.button-20,.button-21 {
  border: none;
  background-color: transparent;
}
#bag-button, #menu-button {
  height: 8rem;
  width: 8rem;
}
#bag, #bag-button-text, #menu-button-text, #menu-button-icon{ transition: all .4s ease;}
#bag, #menu-button-icon {
  transform: translateY(40px);
  opacity: 0;
}
#bag-button:hover > #bag,
#menu-button:hover > #menu-button-icon {
  transform: translateY(0px);
  opacity: 1;
}
#bag-button:hover > #bag-button-text,
#menu-button:hover > #menu-button-text {
  opacity: 0;
}




/* || RESPONSIVENESS || */
@media  screen and (max-width:1380px) {
  .back-button{
    position: relative;
    width: 70px;
    height: 70px;

    top: 0rem;
    left: 0rem;
  }
  .header {
    width: 940px;
    margin-inline: auto;
    justify-content: space-between;
  }
}
@media  screen and (max-width:1000px) {
  .button-grid, .header {
    max-width: calc(100% - 4rem);
  }
  .header-title h1 {
    font-size: 3.8rem;
  }
  .back-button {
    height: 60px;
    width: 60px;
  }
  .back-button img {
    height: 3.75rem;
  }
}
@media  screen and (max-width:690px) {
  .header-title h1 {
    font-size: 2.9rem;
  }
  .back-button {
    height: 50px;
    width: 50px;
  }
  .back-button img {
    height: 3rem;
  }
}
@media  screen and (max-width:550px) {
  .header-title h1 {
    font-size: 2.65rem;
  }
  .back-button {
    height: 45px;
    width: 45px;
  }
  .back-button img {
    height: 2.5rem;
  }
}
@media  screen and (max-width:500px) {
  .header-title h1 {
    font-size: 2.32rem;
  }
  .back-button {
    height: 40px;
    width: 40px;
  }
  .back-button img {
    height: 2rem;
  }
}
@media  screen and (max-width:450px) {
  .header-title h1 {
    font-size: 2rem;
  }
  .back-button {
    height: 37px;
    width: 37px;
  }
  .back-button img {
    height: 2rem;
  }
}
@media  screen and (max-width:400px) {
  .header-title h1 {
    font-size: 1.8rem;
  }
  .back-button {
    height: 37px;
    width: 37px;
  }
  .back-button img {
    height: 1.9rem;
  }
}