:root {
  counter-reset: cards;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 200px;
  gap: 1rem;
  margin: 1rem;
}

.button-display {
  counter-increment: cards;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0 10px 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  animation: fade-in 1.5s forwards;
  opacity: 0;
  transform: translateY(25px);
  animation-delay: 500ms;
}
.button-display::before {
  content: counter(cards);
  top: 0;
  left: 0;
  position: absolute;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1.5rem;
  margin: .5rem .5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
  border-radius: 100%;
  height: 2.25rem;
  width: 2.25rem;
  text-align: center;
}
.button-display button {
  font-family: "Poppins";
  cursor: pointer;
  user-select: none;
}

@keyframes fade-in{
  0%{
    opacity: 0;
    transform: translateY(25px);
  } 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* || BUTTONS 1 - 5 || */
.button-1 {
  padding:1rem 4rem;
  border-radius: 0;
  border: none;
  background-color: rgb(233,228,247);
  color: rgb(128, 47, 222);
  font-size: 2rem;
  font-weight: 700;
  box-shadow: 0 0 0 rgb(128, 47, 222);
  transition: all .4s;
}
.button-1:hover {
  /* border-radius: 10px; */
  transition: .2s;
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 rgb(128, 47, 222);
}
.button-1:active {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0 rgb(128, 47, 222);
}


.button-2 {
  color: rgb(110, 7, 243);
  background-color: white;

  border: 2px solid rgb(110, 7, 243);
  border-radius: 100px;

  font-weight: 600;
  font-size: 1.5rem;
  padding: .5rem 4rem;
  transition: .3s;
}
.button-2:hover {
  background-color: rgb(110, 7, 243);
  color: white;
}
.button-2:active {
  transition: all 100ms;
  outline: 3px solid rgba(51, 51, 51, 0.15);
}


.button-3 {
  position: relative;

  padding: 1rem 4rem;
  font-size: 1.75rem;
  font-weight: 600;

  border: 3px solid rgb(142, 202, 230);
  background-color: transparent;
  color: rgb(142, 202, 230);
  overflow: hidden;
  transition: all .3s linear;
}
.button-3::before {
  position: absolute;
  
  content: '';
  background-color: rgb(142, 202, 230);
  left: 0;
  bottom: 0;

  width: 16rem;
  height: 6rem;
  z-index: -1;
  transform: translateX(-260px);
  transition: all .3s linear;
}
.button-3::after {
  position: absolute;
  
  content: '';
  background-color: rgb(33, 158, 188);
  left: 0;
  bottom: 0;

  width: 16rem;
  height: 6rem;
  z-index: -1;
  transform: translateX(-260px);
  transition: all .3s linear;
}
.button-3:hover {
  color: rgb(33, 158, 188);
  border: 3px solid rgb(33, 158, 188);
}
.button-3:hover::before{
  transform: translateX(0);
}
.button-3:active {
  border: 3px solid rgb(10, 100, 170);
  color: rgb(10, 100, 170);
}
.button-3:active::after{
  transform: translateX(0);
}
.button-3:active::before{
  transform: translateX(200px);
}


.button-4 {
  position: relative;
  background-color: rgb(242,247,249);
  color: black;

  border: none;
  border-radius: 14px;

  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: 700;
  transition: all .2s;

  overflow: hidden;
}
.button-4::before {
  position: absolute;
  content: 'button';
  color: rgb(128, 47, 222);
  transform: translateY(60px);
  transition: all .4s;
}
.button-4:hover {
  background-color: rgb(233,228,247);
  color: transparent;
}
.button-4:hover::before {
  transform: translateY(0);
}


.button-5 {
  color: black;
  background-color: white;
  padding: .25rem 4rem;
  border: none;
  border-radius: 100px;
  font-size: 1.5rem;
  font-weight: 700;

  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
  transition: all .3s;
}
.button-5:hover {
  color: rgb(81, 194, 81);
  text-shadow: 0 0 2px rgb(42, 182, 42);
  box-shadow: 0 0 10px rgb(87, 224, 87);
  padding: .275rem 4.4rem;
  font-size: 1.7rem;
}
.button-5:active {
  scale: .95;
}


.button-6 {
  display: inline-flex;
  height: 4rem;
  padding: 0;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #009543;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 500;
}
.button-6:hover {
  background-color: #00813a;
}
.button-6:active {
  background-color: #006e25;
}
.button-6-text,
.button-6-icon {
  display: inline-flex;
  align-items: center;
  padding: 0 1.5rem;
  color: white;
  height: 100%;
}
.button-6-icon {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}


.button-7 {
  font-weight: 900;
  font-size: 2rem;
  padding: 1rem 3rem;
  background-color: #ebebeb;
  color: #313131;
  border: none;
  transition: .3s all;
}
.button-7:hover {
  background-color: #232323;
  color: white;
}
.button-7:active {
  border-radius: 10px;
}

.button-8 {
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 10px;
  border: 1px solid rgb(50, 50, 50);
  color: rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 0 rgb(0, 0, 0);
  transform: translate(-5px, -5px);
  transition: .2s all;
}
.button-8:active {
  transform: translate(0, 0);
  box-shadow: 0 0 0 black;
}


.button-9 {
  position: relative;
  font-weight: 400;
  font-size: 1.5rem;
  padding: .75rem 2rem;
  border: none;
  background-color: rgb(40, 40, 40);
  color: white;
  overflow: hidden;
  transition: .3s all;
  z-index: 1;
}
.button-9::after {
  content: '';
  position: absolute;
  top: -100px;
  left: 0;
  width: 150px;
  height: 60px;
  background-color: white;
  transition: .3s all;
  z-index: -1;
}
.button-9:hover {
  color: black;
}
.button-9:hover::after {
  top: 0;
}


/* || BUTTONS 1 - 5 || */

/* || RESPONSIVENESS || */
@media screen and (max-width:1300px) {
  .back-button{
    border: 1px solid rgb(70, 70, 70);
  }
  .back-button:hover{
    box-shadow: none;
  }
}