:root {
  counter-reset: cards;
}


.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 200px;
  gap: 1rem;
  margin: 1rem;
}

.button-display {
  counter-increment: cards;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0 10px 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}
.button-display::before {
  content: counter(cards);
  top: 0;
  left: 0;
  position: absolute;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1.5rem;
  margin: .5rem .5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
  border-radius: 100%;
  height: 2.25rem;
  width: 2.25rem;
  text-align: center;
}
.button-display button {
  font-family: "Poppins";
}


/* || BUTTONS 1 - 5 || */
.button-1 {
  cursor: pointer;
  padding:1rem 4rem;
  border-radius: 0;
  border: none;
  background-color: rgb(129, 218, 129);
  color: rgb(0, 100, 13);
  font-size: 2rem;
  font-weight: 700;
  box-shadow: 0 0 0 rgb(0, 100, 13);
  transition: all .4s;
}
.button-1:hover {
  /* border-radius: 10px; */
  transition: .2s;
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 rgb(0, 100, 13);
}
.button-1:active {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0 rgb(0, 100, 13);
}


/* || BUTTONS 1 - 5 || */

/* || RESPONSIVENESS || */
@media screen and (max-width:1300px) {
  .back-button{
    border: 1px solid rgb(70, 70, 70);
  }
  .back-button:hover{
    box-shadow: none;
  }
}