.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 30s linear infinite;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-15deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-15deg) rotateY(360deg);
  }
}
.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
    translateZ(550px);
}
.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 3px;

  cursor: pointer;

  transition: all .4s ease-in-out;
}
.banner .slider .item img:hover {
  width: 110%;
  height: 110%;
  transform: translate(-5%, -5%);

  transition: all .2s ease-in-out;
}
.banner .nav-content {
  position: absolute;
  top: 42rem;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.banner .nav-content h1 {
  font-family: 'ICA Rubrik';
  font-size: 8rem;
  line-height: 7rem;
  text-align: left;
  border-left: 1px solid var(--main-text-color);
  padding-left: .5rem;

  background: linear-gradient(-10deg, var(--main-background-color), var(--main-text-color), var(--main-text-color), var(--main-text-color), var(--main-background-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner .nav-content .info {
  font-family: 'Poppins';
  text-align: right;
  max-width: 300px;
  border-right: 1px solid var(--main-text-color);
  padding-right: .5rem;
}
.banner .nav-content .info h2{
  font-size: 3rem;
}



/* || RESPOSIVENESS || */


@media screen and (max-width:3841px) {
  /* makes everything 30% bigger than initial size */
  .banner .slider .item {  transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
    translateZ(calc(550px * 1.30));}
  
  .banner .slider {
    width: calc(200px * 1.30);
    height: calc(250px * 1.30);
    left: calc(50% - 130px);
    transition: all 1s ease;
  }
}
@media screen and (max-width:2561px) {
  /* makes everything 15% bigger than initial size */
  .banner .slider .item {  transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
    translateZ(calc(550px * 1.15));}
  
  .banner .slider {
    width: calc(200px * 1.15);
    height: calc(250px * 1.15);
    left: calc(50% - 115px);
  }
}
@media screen and (max-width:1920px) {
  /* makes everything 10% smaller than initial size */
  .banner .slider .item {  transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
    translateZ(calc(550px * .90));}
  
  .banner .slider {
    width: calc(200px * .90);
    height: calc(250px * .90);
    left: calc(50% - 90px);
  }
  .content {
    width: 1400px;
  }
}
@media screen and (max-width:1600px) {
  /* makes everything 25% smaller than initial size */
  .banner .slider .item {  transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
    translateZ(calc(550px * 0.75));
  }
  
  .banner .slider {
    width: calc(200px * 0.75);
    height: calc(250px * 0.75);
    left: calc(50% - 75px);
  }

  /* changes font-size accordingly */
  .banner .nav-content{
    width: 1100px;
    top: 32rem;
  }
  .banner .nav-content h1 {
    font-size: 7rem;
    line-height: 6.5rem;
  }
  .banner .nav-content .info h2{
    font-size: 2.75rem;
  }
}
@media screen and (max-width:1300px) {
  /* makes everything 35% smaller than initial size */
  .banner .slider .item {  transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
    translateZ(calc(550px * 0.65));}
  
  .banner .slider {
    width: calc(200px * 0.65);
    height: calc(250px * 0.65);
    left: calc(50% - 65px);
  }

  /* changes font-size accordingly */
  .banner .nav-content{
    width: 900px;
    top: 28rem;
  }
  .banner .nav-content h1 {
    font-size: 6rem;
    line-height: 5rem;
  }
  .banner .nav-content .info h2{
    font-size: 2.5rem;
  }
}
@media screen and (max-width:1000px) {
  /* makes everything 45% smaller than initial size */
  .banner .slider .item {  transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
    translateZ(calc(550px * 0.55));}
  
  .banner .slider {
    width: calc(200px * 0.55);
    height: calc(250px * 0.55);
    left: calc(50% - 55px);
  }

  /* changes font-size accordingly */
  .banner .nav-content{
    width: 800px;
    top: 23rem;
  }
  .banner .nav-content h1 {
    font-size: 4.5rem;
    line-height: 4rem;
  }
  .banner .nav-content .info h2{
    font-size: 1.75rem;
  }
}
@media screen and (max-width:850px) {
  /* makes everything 60% smaller than initial size */
  .banner .slider .item {  transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
    translateZ(calc(550px * 0.40));}
  
  .banner .slider {
    width: calc(200px * 0.40);
    height: calc(250px * 0.40);
    left: calc(50% - 40px);
  }

  /* changes font-size accordingly */
  .banner .nav-content{
    width: 500px;
    top: 18rem;
  }
  .banner .nav-content h1 {
    font-size: 3rem;
    line-height:2.75rem;
  }
  .banner .nav-content .info h2{
    font-size: 1.5rem;
  }
  .banner .nav-content .info p {
    font-size: .75rem;
  }
}
@media screen and (max-width:550px) {
  /* makes everything 65% smaller than initial size */
  .banner .slider .item {  transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
    translateZ(calc(550px * 0.35));}
  
  .banner .slider {
    width: calc(200px * 0.35);
    height: calc(250px * 0.35);
    left: calc(50% - 35px);
  }

  /* changes font-size accordingly */
  .banner .nav-content{
    width: 450px;
    top: 17rem;
  }
  .banner .nav-content h1 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .banner .nav-content .info h2{
    font-size: 1.25rem;
  }
  .banner .nav-content .info p {
    font-size: .6rem;
  }
}
@media screen and (max-width:450px) {
  /* makes everything 70% smaller than initial size */
  .banner .slider .item {  transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
    translateZ(calc(550px * 0.30));}
  
  .banner .slider {
    width: calc(200px * 0.35);
    height: calc(250px * 0.35);
    left: calc(50% - 30px);
  }

  /* changes font-size accordingly */
  .banner .nav-content{
    width: 350px;
    top: 16rem;
  }
  .banner .nav-content h1 {
    font-size: 2.5rem;
    line-height: 2rem;
  }
  .banner .nav-content .info h2{
    font-size: 1rem;
  }
  .banner .nav-content .info p {
    font-size: .5rem;
  }
}