.button-grid {
  border-top: 1px solid black;
  padding-top: 1.25rem;
  max-width: 940px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 60px;
  grid-auto-rows: 300px;
  gap: 1rem;
  margin: 3rem auto 0 auto;
}
.button-grid > *:first-child {
  grid-column: 1 / -1;
  font-size: 4rem;
  font-family: 'Poppins';
  font-weight: 100;
  display: flex;
  align-items: center;
  margin-left: .25rem;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

/* 
-- AMAZON BUTTONS --
*/

.amazon-button-1 {
  background-color: #ffd814;
  padding-block: .35rem;
  width: 12rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 10rem;
  font-weight: 500;

  &:hover {
    background-color: #f7ca00;
  }

  &:active {
    background-color: #f0b800;
    outline: 3px solid #007185;
    outline-offset: 2px;
  }
}

.amazon-button-2 {
  background-color: #ffa41c;
  padding-block: .35rem;
  width: 12rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 10rem;
  font-weight: 500;

  &:hover {
    background-color: #fa8900;
  }

  &:active {
    background-color: #ffa41c;
    outline: 3px solid #007185;
    outline-offset: 2px;
  }
}

.amazon-button-3 {
  font-size: .95rem;
  padding-block: .35rem;
  width: 14rem;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
  border-radius: 8px;
  font-weight: 500;
  border: 1px solid #d5d9d9;
  background-color: #fff;

  &:hover {
    background-color: #f7fafa;
    border-color: #d5d9d9;
  }

  &:active {
    box-shadow: none;
    outline: solid 3px #C8F3FA;
    border-color: #008296;
    background-color: #EDFDFF;
  }

  &:focus-visible {
    border: 1px solid black;
  }
}

.amazon-button-4 {
  background-color: #febd69;
  width: 60px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  &:hover {
    background-color: #f3a847;
  }
}

.amazon-button-5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  border-radius: 8px;
  padding: 14px 18px;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  margin-inline: 1rem;

  & image {
    max-width: 25%;
    vertical-align: top;
    margin-right: .25rem;
  }

  & div {
    & span {
      color: #565959!important;
      font-size: .85rem;
    }

    & h2 {
      font-size: 1.05rem;
      line-height: 28px;
    }
  }

  &:hover {
    background-color: #eee;
  }
}

.amazon-button-6 {
  letter-spacing: .5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: .5rem .4rem;
  width: 210px;
  margin: 5px 2px;
  background-image: -webkit-linear-gradient(30deg, #2C88AE 40%, #00A8E1 85%, #00A8E1 74px);

  &:active {
    width: 230px;
    padding: 1rem;
    font-weight: 500;
  }
}

/* 
-- GOOGLE BUTTONS --
*/

.google-button-1 {
  border-radius: 9999rem;
  border: 1px solid #d2d2d2;
  color: #0b57d0;
  background-color: #fff;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-weight: 500;
  font-family: Arial, sans-serif;

  height: 40px;
  padding: 0 30px;
  line-height: 20px;

  &:hover {
    background-color: #E8F0FE;
  }
  &:active {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border: none;
  }
}

.google-button-2 {
  background-color: #0b57d0;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 9999rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  padding: 0 65px;

  &:hover {
    background-color: #001d35;
    border-color: #001d35;
  }

  &:active {
    border-color: white;
    outline: 2px solid #0b57d0;
  }
}

.google-button-3 {
  background-color: #1A73E8;
  color: #fff;
  border-radius: 4px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 44px;
  padding: 0 45px;

  &:hover {
    background-color: #1B66C9;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }

  &:active {
    background-color: #1C58A8;
    transition: all .2s;
  }
}

.google-button-4 {
  background-color: #F8F9FA;
  border: 1px solid #F8F9FA;
  border-radius: 4px;
  color: #3c4043;

  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;

  height: 36px;
  min-width: 54px;

  text-align: center;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }

  &:active {
    border-color:#4285f4;
  }
}

.google-button-5 {
  background-color: #fff;
  color: #5f6368;
  border: 1px solid #e8eaed;
  border-radius: 9999rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 1.05rem;

  height: 52px;
  padding: 0 1.75rem;

  & div {
    margin-right: .5rem;
  }

  &:hover {
    background-color: #E8EAED;
  }
  &:active {
    border-color: #202124;
    background-color: #202124;
    color: #fff;

    & div > svg {
      fill: #fff !important;
    }
  }
}

.google-button-6 {
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
  0px 2px 2px 0px rgba(0,0,0,0.14),
  0px 1px 5px 0px rgba(0,0,0,0.12),
  0 1px 2px 0 rgba(60, 64, 67, .3),
  0 1px 3px 1px rgba(60, 64, 67, .15);

  padding: .85rem 1.5rem;
  border-radius: 1rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all .4s ease;

  & svg{
    margin-right: .8rem;
  }

  &:hover {
    background-color: #EDF1FA;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
    0px 4px 5px 0px rgba(0,0,0,0.14), 
    0px 1px 10px 0px rgba(0,0,0,0.12), 
    0 1px 2px 0 rgba(60, 64, 67, .3), 
    0 2px 6px 2px rgba(60, 64, 67, .15);
  }

  &:active {
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
    0px 2px 2px 0px rgba(0,0,0,0.14),
    0px 1px 5px 0px rgba(0,0,0,0.12),
    0 1px 2px 0 rgba(60, 64, 67, .3),
    0 1px 3px 1px rgba(60, 64, 67, .15);
  }
}

/* 
-- GOOGLE BUTTONS --
*/
.microsoft-button-1, .microsoft-button-2,
.microsoft-button-3, .microsoft-button-4,
.microsoft-button-5, .microsoft-button-6 {
  font-family: 'Segoe UI', sans-serif !important;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1;
  text-decoration: none;
}

.microsoft-button-1 {
  color: #fff;
  background-color: #0067B8;

  padding: .625rem .75rem;

  &:hover {
    box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .13), 0 0 .0625rem 0 rgba(0, 0, 0, .11);
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
  }

  &:active,:focus{
    outline-offset: -.375rem;
    outline: #fff .1875rem dotted;
  }
}

.microsoft-button-2 {
  color: #000;
  background-color: #fff;
  border: .125rem solid transparent;
  padding: .625rem .75rem;

  &:hover {
    box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .13), 0 0 .0625rem 0 rgba(0, 0, 0, .11);
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
  }

  &:active,:focus{
    outline: .1875rem dotted #000;
    outline-offset: -.375rem;
  }
}

.microsoft-button-3 {
  background-color: #fff;
  border: 2px solid #d3cefb;
  border-radius: 9999rem;
  box-shadow: rgb(84, 64, 241) -2px 0px !important;

  width: 2.75rem;
  height: 2.75rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:active,:focus{
    outline: 3px dashed #000;
  }
}

.microsoft-button-4 {
  color: #fff;
  background-color: #001968;

  border-radius: .375rem;
  padding: .6875rem 2.5rem 1rem 2.5rem;
  line-height: 1.25rem;
  min-height: 2.625rem;
  font-weight: 700;

  transition: all 200ms ease-in-out;

  & span {
    border-bottom: 0px solid transparent;
    transition: all 200ms ease-in-out;
  }

  &:hover > span {
    border-bottom: 2px solid #fff;
  }

  &:active,:focus {
    outline: 2px dashed #505050 !important;
    scale: .98;
  }
}

.microsoft-button-5 {
  background-color: #091F2C;
  color: #fff;
  
}

@media  screen and (max-width:1000px) {
  .button-grid > *:first-child {
    font-size: 3rem;
  }
  .button-grid, .header {
    max-width: calc(100% - 4rem);
  }
}
@media  screen and (max-width:690px) {
  .button-grid > *:first-child {
    font-size: 2.5rem;
  }
}