<div class="banner">
  <div class="slider" style="--quantity: 10;">
    <!-- item 1-5 -->
    <a class="item" style="--position: 1;"><img src="https://github.com/SleepyTK/images/blob/main/navbar-1.png?raw=true" alt=""></a>
    <a class="item" style="--position: 2;"><img src="https://github.com/SleepyTK/images/blob/main/navbar-1.png?raw=true" alt=""></a>
    <a class="item" style="--position: 3;"><img src="https://github.com/SleepyTK/images/blob/main/navbar-1.png?raw=true" alt=""></a>
    <a class="item" style="--position: 4;"><img src="https://github.com/SleepyTK/images/blob/main/navbar-1.png?raw=true" alt=""></a>
    <a class="item" style="--position: 5;"><img src="https://github.com/SleepyTK/images/blob/main/navbar-1.png?raw=true" alt=""></a>

    <!-- item 6-10 -->
    <a class="item" style="--position: 6;"><img src="https://github.com/SleepyTK/images/blob/main/navbar-1.png?raw=true" alt=""></a>
    <a class="item" style="--position: 7;"><img src="https://github.com/SleepyTK/images/blob/main/navbar-1.png?raw=true" alt=""></a>
    <a class="item" style="--position: 8;"><img src="https://github.com/SleepyTK/images/blob/main/navbar-1.png?raw=true" alt=""></a>
    <a class="item" style="--position: 9;"><img src="https://github.com/SleepyTK/images/blob/main/navbar-1.png?raw=true" alt=""></a>
    <a href="pages/button-examples/button-examples.html" class="item" style="--position:10;"><img src="https://github.com/SleepyTK/images/blob/main/CSS-BUTTON-EXAMPLES.png?raw=true" alt="css button examples"></a>
  </div>
  <div class="nav-content">
    <h1>CSS ONLY <br/> WEB DESIGN</h1>
    <div class="info">
      <h2>Thomas K</h2>
      <p><b>web design</b></p>
      <p>CSS only</p>
      <p>have a look around</p>
    </div>
  </div>
</div>