:root {
  counter-reset: cards;
}

a {
  cursor: pointer;
}

.button-grid {
  border-top: 1px solid black;
  padding-top: 1.25rem;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 100px;
  gap: .5rem;
  margin: 0 auto;
}

.button-display {
  counter-increment: cards;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(245, 245, 245);
  background-color: var(--button-display-color);
  animation: fade-in 1.5s forwards;
  opacity: 0;
  transform: translateY(25px);
  animation-delay: 500ms;
}
.button-display::before {
  display: flex;
  content: counter(cards);
  top: 0;
  left: 0;
  position: absolute;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1.25rem;
  margin: .5rem .5rem;
  background-color: rgb(80, 80, 80);
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
}
.button-display button {
  font-family: "Poppins";
  cursor: pointer;
  user-select: none  !important;
}

.dark {
  background-color: #121212;
}

@keyframes fade-in{
  0%{
    opacity: 0;
    transform: translateY(25px);
  } 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* || BUTTONS 1 - 5 || */
.button-card {
  transition: all .4s ease;
}
.button-card:hover {
filter: grayscale(0);
scale: 1.025;
}
.button-card:active {
  scale: 1;
}

/* || RESPONSIVENESS || */
@media  screen and (max-width:1380px) {
  .back-button{
    position: relative !important;
    width: 70px !important;
    height: 70px !important;

    top: 0rem !important;
    left: 0rem !important;
  }
  .header {
    width: 940px !important;
    margin-inline: auto !important;
    justify-content: space-between !important;
  }
  .button-card {
    filter: grayscale(0);
  }
}
@media  screen and (max-width:1000px) {
  .button-grid, .header {
    max-width: calc(100% - 4rem) !important;
  }
  .header { 
    & h1 {
      font-size: 3.8rem !important;
    }
  }
  .back-button {
    height: 60px !important;
    width: 60px !important;
  }
  .back-button img {
    height: 3.75rem !important;
  }
}
@media  screen and (max-width:690px) {
  .header { 
    margin-top: .25rem !important;
    & h1 {
      font-size:2.9rem !important;
    }
  }
  .back-button {
    height: 50px !important;
    width: 50px !important;
  }
  .back-button img {
    height: 3rem !important;
  }
}
@media  screen and (max-width:550px) {
  .header { 
    margin-top: .4rem !important;
    & h1 {
      font-size: 2.65rem !important;
    }
  }
  .back-button {
    height: 45px !important;
    width: 45px !important;
  }
  .back-button img {
    height: 2.5rem !important;
  }
}
@media  screen and (max-width:500px) {
  .header { 
    & h1 {
      font-size: 2.3rem !important;
    }
  }
  .back-button {
    height: 40px !important;
    width: 40px !important;
  }
  .back-button img {
    height: 2rem !important;
  }
}
@media  screen and (max-width:450px) {
  .header { 
    margin-top: .6rem !important;
    margin-bottom: .2rem !important;
    & h1 {
      font-size: 2rem !important;
    }
  }
  .back-button {
    height: 37px !important;
    width: 37px !important;
  }
  .back-button img {
    height: 2rem !important;
  }
}
@media  screen and (max-width:400px) {
  .header { 
    & h1 {
      font-size: 1.8rem !important;
    }
  }
  .back-button {
    height: 37px !important;
    width: 37px !important;
  }
  .back-button img {
    height: 1.9rem !important;
  }
}