<div class="content">
  <h2 class="content-head" >
    < ABOUT > 
    <button class="language-button">EN</button> 
    <button class="language-button">NL</button> 
    <button class="language-button">JP</button>
  </h2>
  <p>
    Welcome to my website! Here, I plan to improve and showcase my CSS skills by creating a variety of designs for you to explore and use if you'd like. 
    I'll be working on smaller elements, such as buttons, cards, and animations, as well as larger projects like full webpagesand CSS guides with tips and tricks.
  </p><br/>

  <h2 class="content-head" >
    < WHO AM I? > 
    <button class="language-button">EN</button> 
    <button class="language-button">NL</button> 
    <button class="language-button">JP</button>
  </h2>
  <p>
    I am a frontend web developer who specializes in HTML and CSS. I enjoy creating new designs and am always eager to develop more. 
    I enjoy turning creative ideas into practical, easy-to-use websites. 
    I keep up with the latest trends to make sure my work is fresh and engaging.
  </p><br/>
</div>